{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('test') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('test') }}
{% endblock %}